# Backend ignores
backend/__pycache__
backend/.venv
backend/.env
backend/*.pyc
backend/.pytest_cache

# Frontend ignores
frontend/node_modules
frontend/dist
frontend/.astro
frontend/.env

# General ignores
.git
.gitignore
*.md
.DS_Store
